.wrapper {
    width: 90%;
    margin: auto;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    /* background-color: #eee; */
}

a:hover {
    transition-delay: 0.2s;
    transition-timing-function: ease-in;
}

div {
    box-sizing: border-box;
}

/* h1, h2, h3, h4, p {
    color: #555555;
} */

/* navigation bar - logo & links */

.mainNavBar {
    background-color: white;
    position: fixed;
    width: 100%;
}

.navBar {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-top: 0.9375em;
    padding-bottom: 0.9375em;
    margin-bottom: 0.3125em;
}

.navBarMenu {
    display: none;
}

.navBarItem2, .navBarSubItem {
    padding: 10px 0;
}

.navBarItem1 {
    padding-top: 15px;
}

.navBarItem2 {
    display: grid;
    grid-template-columns: 70px 70px 70px 70px 70px 70px 90px;
    justify-content: flex-end;
}

.navBarContact {
    border-right: 0.2px solid lightgrey;
}

.navBarLogin {
    margin-left: 20px;
}

.navBarLogin a i {
    color: rgb(0, 166, 235);
    margin-right: 5px;
    font-size: 12px;
}

.navBarSubItem a {
    text-decoration: none;
    color: #3b5ca0;
}

.navBarSubItem a:hover {
    color: rgb(0, 166, 235);
}

.navBarSubItem a:active {
    color: rgb(0, 166, 235);
}

/* Main banner - intro picture */

.mainBanner {
    display: grid;
    grid-template-columns: 1fr;
    background-image: url("../images/intro-bg.png");
    background-size: cover;
    text-align: center;
    padding-bottom: 7%;
    padding-top: 12%;
    margin-bottom: 30px;
    box-shadow: 0 1px 5px grey;
    color: white;
}

.bgIntro {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.bgIntro h1 {
    margin-bottom: 15px;
    font-size: 3.5em;
}

.bgIntro p {
    margin-top: 15px;
    font-size: 1.7em;
}

/* All the content of left side of section*/

.mainSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* border: 1.5px solid #e5e5e5; */
}

.sectionLeft, .sectionMiddle {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.card {
    display: grid;
    grid-template-rows: 250px;
    box-shadow: 0 0px 5px grey;
    /* margin-left: auto;
    margin-right: auto; */
}

.cardImage {
    /* grid-area: 1 / 1 / span 1 / span 1; */
    height: 100%;
    background-size: cover;
}

.cardContent {
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}

.cardName {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #555555;
}

.cardName p {
    text-align: right;
    margin-top: 24px;
    font-weight: lighter;
    font-style: italic;
    font-size: 12px;
}

.cardName h3 {
    font-size: 20px;
}

.cardDescription p {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 0px;
}

.cardButtons {
    text-align: center;
    margin-top: 15px;
}

.cardButtons a {
    text-decoration: none;
    background-color: #eeeeee;
    color: #555555;
    padding: 4px 8px;
    margin: 0 2px;
}

.cardButtons a:last-child {
    margin-right: 0;
}

.cardButtons a:hover {
    background-color: #1E5F8D;
    color: white;
}

.cardButtons a:last-child:hover {
    background-color: #00a651;
}

.cardButtons a i {
    /* color: rgb(0, 166, 235); */
    /* margin-right: 5px; */
    font-size: 15px;
}

.card1Image {
    background-image: url(../images/card1.png);
}

.card2Image {
    background-image: url(../images/card2.png);
}

.card3Image {
    background-image: url(../images/card3.png);
}

.card4Image {
    background-image: url(../images/card4.png);
}

.card5Image {
    background-image: url(../images/card5.png);
}

.card6Image {
    background-image: url(../images/card6.png);
}

.pagination {
    grid-area: 2 / 1 / span 1 / span 2;
    font-size: 20px;
    padding: 20px 0;
    /* padding-left: 0px; */
}

.pagination a {
    margin: auto 5px;
    text-decoration: none;
    color: #1e5f8d;
}

.pagination a:hover {
    color: #00a6eb;
}

.pagination a:active {
    background-color: #1e5f8d;
    color: white;
    padding: 10px;
}

.pagination a i {
    font-size: 13px;
}

/* All the content of right side of section*/

.sectionRight {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-gap: 20px;
    /* border: 1.5px solid #e5e5e5; */
}

.searchTheme {
    border: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.searchTheme h4 {
    background-color: #f1f1f1;
    margin: 0;
    font-size: 1em;
    padding: 12px;
    border-bottom: 1px solid #e5e5e5;
    color: #555555;
}

.mainSearchTheme {
    border: 1px solid #e5e5e5;
    margin: 16px;
    padding: 4px;
}

input[name="searchInput"] {
    background: #fff;
    color: #666;
    height: 25px;
    width: 72%;
    outline: none;
    border-bottom: 1.5px solid #e5e5e5;
    border-style: hidden;
    padding: 10px;
    margin: 0;
}

button[name="searchButton"] {
    background: #1e5f8d;
    color: #fff;
    width: 20%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 2px;
    padding: 0;
    margin-left: -4px;
}

.socialLinks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.socialLinks a {
    text-align: center;
    padding: 10px 0;
}

.socialLinks a:nth-child(1) {
    background: #00aced;
}

.socialLinks a:nth-child(2) {
    background: #3b5998;
}

.socialLinks a:nth-child(3) {
    background: #ed7527;
}

.socialLinks a:nth-child(4) {
    background: #59ae5b;
}

.socialLinks a i {
    font-size: 25px;
    color: white;
}

.popularThemes h4 {
    background-color: #f1f1f1;
    margin: 0;
    font-size: 1em;
    padding: 12px;
    border: 1px solid #e5e5e5;
    border-bottom: none;
    color: #555555;
}

.themeRow {
    display: grid;
    grid-template-columns: 1;
    grid-gap: 30px;
    border: 1px solid #e5e5e5;
}

.theme {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 18px;
    margin-bottom: 0px;
    color: #555555;
    /* border-bottom: 1px solid #e5e5e5; */
}

.themeImage img {
    width: 100%;
}

.themeTitle {
    display: grid;
    grid-template-rows: 0.1fr 0.1fr 0.1fr;
    margin-left: 15px;
    margin-right: 15px;
}

.themeName p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 18px;
}

.themeDownlaods p {
    font-weight: lighter;
    font-style: italic;
    font-size: 12px;
    color: #999999;
    margin-bottom: 25px;
    margin-top: 18px;
}

.themeButtons {
    display: grid;
    grid-template-columns: 0.85fr 1fr 0.85fr;
    text-align: center;
}

.themeButtons a {
    text-decoration: none;
    color: #555555;
    font-size: 12px;
    margin: auto;
}

.themeButtons a:last-child {
    /* margin-right: 0; */
}

.themeButtons a:hover {
    color: #00a6eb;
}

.themeButtons a i {
    font-size: 10px;
}

.newsletterForm {
    margin: 10px;
}

.searchTheme p {
    text-align: center;
    color: #555555;
}

input[name="newsletterSearchInput"] {
    background: #fff;
    color: #666;
    height: 18px;
    width: 59%;
    outline: none;
    border: 1.5px solid #e5e5e5;
    padding: 10px;
    margin: 0;
    margin-right: 10px;
}

button[name="newsletterSearchButton"] {
    background: #1e5f8d;
    color: #fff;
    width: 30%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 2px;
    padding: 0;
    font-size: 16px;
}

.endDescription {
    /* border-bottom: 2px solid #e5e5e5; */
    /* border-top: 2px solid #e5e5e5; */
    color: #555555;
    box-shadow: 0 0px 2px grey;
}

.endDescriptionContent {
    padding-top: 30px;
    padding-bottom: 30px;
}

.endDescriptionContent p {
    font-size: 18px;
}

.endDescriptionLinks {
    text-align: center;
    font-size: 25px;
}

.endDescriptionLinks a {
    text-decoration: none;
}

.endDescriptionLinks a i:hover {
    color: #1E5F8D;
}

.endDescriptionLinks a i {
    color: #1e5f8d;
    margin: auto 5px;
}

.mainFooter {
    /* border-top: 1.5px solid #e5e5e5; */
    color: #555555;
    font-size: 1em;
}

.subFooter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1.875em 0px;
}

.subFooter a:hover, .subFooter p:hover {
    color: #1E5F8D;
}

.footerLeft {
    margin: auto 0;
}

.footerLeft a {
    text-decoration: none;
}

.footerRight {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.footerTerms p {
    float: right;
    margin-left: 0.9375em;
}

.footerLinks {
    text-align: center;
    margin: auto 0;
}

.footerLinks a {
    text-decoration: none;
    margin-left: 0.875em;
}

/* Media Queries
================================ */

@media (max-width: 1210px) {
    .mainSection {
        grid-template-columns: 1fr 1fr;
    }
    .sectionRight {
        display: none;
    }
    .sectionLeft, .sectionMiddle {
        width: 100%;
    }
    .pagination{
        
    }
    .footerRight {
        grid-template-columns: 3fr 1fr;
    }
}

@media (max-width: 870px) {
    .lineBreak {
        display: none;
    }
    .subFooter {
        grid-template-columns: 1fr 2fr;
    }
    .navBarItem2 {
        display: none;
    }
    .navBarMenu {
        display: initial;
        margin-top: auto;
        margin-bottom: auto;
        text-align: end;
    }
    .navBarMenu i {
        font-size: 20px;
        color: #1f608d;
    }
}

@media (max-width: 767px) {
    .mainBanner {
        padding-top: 8em;
    }
    .bgIntro h1 {
        font-size: 2em;
    }
    .bgIntro p {
        font-size: 1.2em;
    }
    .mainSection {
        grid-template-columns: 1fr;
    }
    .sectionMiddle {
        display: none;
    }
    .sectionLeft {
        width: 100%;
    }
    .pagination {
        grid-area: 2 / 1 / span 1 / span 1;
        padding: 20px 0;
    }
    .subFooter {
        grid-template-columns: 1fr;
    }
    .footerRight {
        display: none;
    }
    .footerLeft {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 386px) {
    .cardButtonContent {
        display: none;
        margin: auto;
    }
    .cardButtons a {
        padding: 10px 15px;
    }
    .cardButtons a i{
        margin: auto;
    }
}